* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    height: 100%;
}

.header {
    padding: 15px 0;
    background-color: #ffffff;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}

.logo-content-img {
    width: 40px;
}

.header-text {
    font: normal;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #008CFF;
    text-transform: capitalize;
    padding-left: 12px;
}

.header-secondary-text {
    color: #42515f;
}

.form-content {
    min-height: calc(100% - 80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 60%;
    margin: 30px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    opacity: 1;
}

.form-head {
    background: #008CFF 0% 0% no-repeat padding-box;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 40px;
    border-radius: 8px 8px 0px 0px;
    text-align: center;
}

.form-head-text {
    font: normal normal normal 24px/37px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
    display: inline-block;
    margin: 20px 0px;
}

.form-cancel-img {
    float: right;
    width: 40px;
    margin: 20px 50px 20px 0px;
}

.row-content {
    display: flex;
    padding-right: 150px;
    padding-left: 150px;
    flex-direction: column;
    margin-bottom: 10px;
}

.row-content-exp {
    display: flex;
    padding-right: 150px;
    padding-left: 150px;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
}

.oneRow-content {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 0px;
    flex-direction: column;
    margin-bottom: 20px;
    margin-right: 1em;
}

.zip-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 0px;
    flex-direction: column;
    margin-bottom: 20px;
}

.text {
    font-size: 16px;
    color: #42515f;
    opacity: 1;
    font-family: Roboto;
}

.label {
    text-align: left;
    font: normal normal normal 16px/24px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    opacity: 1;
}

.input {
    width: 100%;
    padding: 12px;
    border-radius: 3px;
    resize: vertical;
    border: 1px solid #BDBDBD;
    opacity: 1;
    height: 40px;
}

.select-input {
    width: 100%;
    padding: 12px;
    margin-right: 15px;
    border-radius: 3px;
    resize: vertical;
    border: 1px solid #BDBDBD;
    opacity: 1;
    background-color: white;
    color: #42515F;
}

#address {
    height: 80px;
}

error-output {
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: red;
}