* {
    box-sizing: border-box;
}
html{
    font-size: 10px;
}

body {
    margin: 0rem;
    height: 100%;
    background-color: #f7f7f7;
}

.header {
    padding: 1.5rem 0;
    background-color: #ffffff;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}

.logo-content-img {
    width: 4rem;
}

.header-text {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0rem;
    color: #008CFF;
    text-transform: capitalize;
    padding-left: 1.2rem;
}

.header-secondary-text {
    color: #42515f;
}

.main-content {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 8rem);
    background-color: #f7f7f7;
    padding: 3rem 0 1rem;
    box-sizing: border-box;
}

.sub-header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 2.5rem;
}

.person-detail-text {
    font: normal normal bold 2.2rem/2.5rem Roboto,sans-serif;
    letter-spacing: 0rem;
    color: #42515f;
    opacity: 1;
}

.person-count {
    background-color: #008CFF;
    color: #ffffff;
    border-radius: 62%;
    font-size: 1.6rem;
    width: 2.6rem;
    text-align: center;
    display: inline-block;
}

.add-button {
    font: normal normal normal 2.0rem/2.4rem Roboto,sans-serif;
    letter-spacing: 0rem;
    color: #ffffff;
    opacity: 1;
    background: #008CFF 0% 0% no-repeat padding-box;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    min-width: fit-content;
    min-height: 4rem;
}

.add-button-img{
    margin-bottom:-0.6rem;
    width: 2.7rem;
}

#table-main{
    width: 80%;
    margin: 0 auto;
}

.table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1.5rem;
}

td, th{
    text-align: left;
    padding: 0.5rem 0.8rem;
    border: 0rem solid #dddddd;
}

th{
    text-align: left;
    font: normal normal normal 1.6rem/2.4rem Roboto, sans-serif;
    letter-spacing: 0rem;
    color: #658292;
    opacity: 1;
    border: 0rem solid #dddddd;
    font-weight: 500;
    min-width: 8rem;
}

tr:not(:first-child){
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #e3e3e3;
    border-radius: 0.3rem;
    outline: 1px solid #E3E3E3;
}
td{
    font: normal normal normal 1.7rem/2.1rem Roboto,sans-serif;
    letter-spacing: 0rem;
    color: #3d3d3d;
    opacity: 1;
    height: 4.8rem;
}

td:first-child,th:first-child{
    padding-left: 2.5rem;
    min-width: 12rem;
}
th:nth-child(2){
    min-width: 15rem;
}
th:nth-child(6){
    min-width: 15rem;
}
td img:first-child{
    margin-right: 10px;
}

td img{
    cursor: pointer;
}
#edit-button{
    width:6rem;
}

@media only screen and (max-width: 1250px) {
    #table-main{
        width: 90%;
        margin: 0 auto;
        overflow-x: scroll;
    }
    .sub-header-content{
        width: 90%;
    }
}


@media only screen and (max-width: 600px) {
    html{
        font-size: 9px;
    }  
    .add-button {
        font: normal normal normal 2.0rem/2.4rem Roboto,sans-serif;
        border-radius: 0.5rem;
        padding: 0.8rem 1.6rem;
        min-width: fit-content;
        min-height: 3rem;
    }
}

@media only screen and (max-width: 450px) {
    
    html{
        font-size: 8px;
    }
    .add-button {
        padding: 0.5rem 1rem;
    }
}